{%extends 'base.html'%}
{%block title%}Dashboard{%endblock%}
{%block content%}
<div class="wrapper">

    <table class='table'>
        <caption class='caption1'>Health by the Numbers</caption>
        <tr class='row odd'>
            <th>Metric</th>
            <th>Current Data</th>
            <th>Healthy Goal</th>
        </tr>
        <tr class='row'>
            <td>Total Daily Energy Expenditure</td>
            <td>{{user.statistics[0].tdee}} kCals</td>
            <td>-</td>
        </tr>
        <tr class='row odd'>
            <td>Body Mass Index</td>
            <td>{{user.statistics[0].bmi}} kg/m<sup>2</sup></td>
            <td>24.9 kg/m<sup>2</sup></td>
        </tr>
        <tr class='row'>
            <td>Weight</td>
            <td>{{user.statistics[0].weight}} lbs.</td>
            <td>{{user.statistics[0].ideal_weight}} lbs.</td>
        </tr>
        <tr class='row odd'>
            <td>Pounds to Lose</td>
            <td>{{user.statistics[0].pounds_to_lose}} lbs.</td>
            <td>-</td>
        </tr>
        <tr class='row'>
            <td>Ideal Time Frame</td>
            <td>{{user.statistics[0].ideal_time_frame}} days</td>
            <td>-</td>
        </tr>
    </table>
    <table class='table'>
        <caption class='caption2'>Overview for {{today.strftime('%m/%d/%y')}}</caption>
        <tr class='row odd'>
            <th></th>
            <th>Daily Goal</th>
            <th>Total Logged</th>
            <th>Remaining</th>
        </tr>
        <tr class='row odd'>
            <td class=''>Calories (kCal)</td>
            <td>{{(user.statistics[0].tdee)}}</td>
            <td>{{sum_calories}}</td>
            <td>{{(user.statistics[0].tdee) - (sum_calories)}}</td>

        </tr>
        <tr class='row'>
            <td class='carbs'>Carbs (g)</td>
            <td>{{(user.statistics[0].tdee * 0.05/4)|round|int}}</td>
            <td>{{sum_carbs}}</td>
            <td>{{((user.statistics[0].tdee * 0.05/4) - (sum_carbs))|round|int}}</td>
        </tr>
        <tr class='row odd'>
            <td class='fats'>Fats (g)</td>
            <td>{{(user.statistics[0].tdee * 0.6/9)|round|int}}</td>
            <td>{{sum_fat}}</td>
            <td>{{((user.statistics[0].tdee * 0.6/9) - sum_fat)|round|int}}</td>
        </tr>
        <tr class='row'>
            <td class='proteins'>Protein (g)</td>
            <td>{{(user.statistics[0].tdee * 0.35/4)|round|int}}</td>
            <td>{{sum_protein}}</td>
            <td>{{((user.statistics[0].tdee * 0.35/4) - sum_protein)|round|int}}</td>
        </tr>
    </table>
    <div class="grid-2 dashboard-table-chart">


        <table class='table'>
            <caption class='caption3'>Today's Intake</caption>
            <tr>
            <tr class='row odd'>
                <th></th>
                <th>Entry Item</th>
                <th>Calories</th>
                <th>Carbs</th>
                <th>Fat</th>
                <th>Protein</th>
            </tr>
            {%for entry in entries%}
            <tr class="row">
                <td></td>
                <td>{{entry.food.item}}</td>
                <td>{{entry.food.calories}}</td>
                <td>{{entry.food.carbs}}</td>
                <td>{{entry.food.fat}}</td>
                <td>{{entry.food.protein}}</td>
            </tr>
            {%endfor%}
        </table>
        <div id='chartHolder'>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    let sumFat = {{ sum_carbs }}
    let sumCarb = {{ sum_fat }}
    let sumProtein = {{ sum_protein }}
    let myChart = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(myChart, {
        // The type of chart we want to create
        type: 'horizontalBar',

        // The data for our dataset
        data: {
            labels: ['Goal Carbs', 'Carbs', 'Goal Fats', 'Fats', 'Goal Protein', 'Protein'],
            datasets: [{
                label: 'Intake in Grams',
                data: [{{ user.statistics[0].tdee * 0.05 / 4 }}, sumCarb, {{ user.statistics[0].tdee * 0.60 / 9 }}, sumFat,{{ user.statistics[0].tdee * 0.35 / 4 }}, sumProtein],
    backgroundColor: ['#ea6153', '#ea6153', '#2980b9', '#2980b9', '#27ae60', '#27ae60']
        }]

    },

    // Configuration options go here
    options: { }
    });
</script>
{%endblock%}