{%extends 'base.html'%}
{%block title%}Dashboard{%endblock%}
{%block style%}
<link rel="stylesheet" href="/static/bootstrap.css">
{%endblock%}
{%block content%}
<div class="container-fluid mt-5">

    <div class="row">
        <div class="col">
            <!-- Sidebar for searching food -->
            <div class='container bg-secondary rounded p-3'>
                <div class="lead text-light">Search a new food</div>
                <hr>
                <form id='food-search' method='POST' action='/search'>
                    {{food_form.hidden_tag()}}
                    <div class="form-group">
                        {% for field in food_form
                if field.widget.input_type != 'hidden' %}
                        <p>
                            {{field.label(class_='text-light')}}
                            {{field(class_='form-control')}}

                            {% for error in field.errors %}
                            <span class="">{{error}}</span>
                            {%endfor%}
                        </p>
                        {%endfor%}
                    </div>
                    <button class='btn btn-warning btn-block' type='submit'>Search Food</button>
                </form>
            </div>
            <!-- end side bar for searching food -->
            <!-- Quick Add Section -->
            <div class='container bg-warning rounded p-3 mt-5'>
                <div class="lead text-light">Quick Add</div>
                <hr>
                <form method='POST' action='/quick_add'>
                    {{select_food_form.hidden_tag()}}
                    {% for field in select_food_form
                        if field.widget.input_type != 'hidden' %}
                    <p>
                        {{field.label(class_='text-light')}}
                        {{field(class_='form-control')}}

                        {% for error in field.errors %}
                        <span class="">{{error}}</span>
                        {%endfor%}
                    </p>
                    {%endfor%}
                    <button class='btn btn-secondary btn-block' type='submit'>Add New Entry</button>
                </form>
            </div>
            <!-- End Quick Add Section -->
        </div>
        <div class="col-8 rounded border border-warning">
            <div class='container-fluid'>
                <div class="row">
                    <div class='col-6'>
                        <!-- Overview Table -->
                        <caption>Overview for {{today.strftime('%m/%d/%y')}}</caption>
                        <table class='table table-bordered table-striped'>

                            <tr>
                                <th></th>
                                <th>Daily Goal</th>
                                <th>Total Logged</th>
                                <th>Remaining</th>
                            </tr>
                            <tr>
                                <td class=''>Calories (kCal)</td>
                                <td>{{(user.statistics[0].tdee)}}</td>
                                <td>{{sum_calories}}</td>
                                <td>{{(user.statistics[0].tdee) - (sum_calories)}}</td>

                            </tr>
                            <tr>
                                <td class='carbs'>Carbs (g)</td>
                                <td>{{(user.statistics[0].tdee * 0.05/4)|round|int}}</td>
                                <td>{{sum_carbs}}</td>
                                <td>{{((user.statistics[0].tdee * 0.05/4) - (sum_carbs))|round|int}}</td>
                            </tr>
                            <tr>
                                <td class='fats'>Fats (g)</td>
                                <td>{{(user.statistics[0].tdee * 0.6/9)|round|int}}</td>
                                <td>{{sum_fat}}</td>
                                <td>{{((user.statistics[0].tdee * 0.6/9) - sum_fat)|round|int}}</td>
                            </tr>
                            <tr>
                                <td class='proteins'>Protein (g)</td>
                                <td>{{(user.statistics[0].tdee * 0.35/4)|round|int}}</td>
                                <td>{{sum_protein}}</td>
                                <td>{{((user.statistics[0].tdee * 0.35/4) - sum_protein)|round|int}}</td>
                            </tr>
                        </table>
                        <!-- End Overview table -->

                    </div>
                    <div class='col-6'>
                        <div id='chartHolder'>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>

            </div>
            <div class='container-fluid'>
                <div class="row">
                    <div class='col'>
                        <!-- Intake Table -->
                        <caption>Food Log</caption>
                        <table class='table table-bordered table-striped'>

                            <tr>
                            <tr>
                                <th>Entry Item</th>
                                <th>Servings</th>
                                <th>Calories</th>
                                <th>Carbs</th>
                                <th>Fat</th>
                                <th>Protein</th>
                                <th>Remove</th>
                            </tr>
                            {%for entry in entries%}
                            <tr>
                                <td>{{entry.food.item}}</td>
                                <td>{{entry.servings}}</td>
                                <td>{{entry.food.calories *entry.servings}}</td>
                                <td>{{entry.food.carbs *entry.servings}}</td>
                                <td>{{entry.food.fat *entry.servings}}</td>
                                <td>{{entry.food.protein *entry.servings}}</td>
                                <td>
                                    <form action="/remove_entry" method="POST">
                                        <button class='btn btn-block btn-outline-danger' name='entry_id'
                                            value={{entry.id}} type="submit"><i class="fas fa-trash-alt"></i></button>

                                    </form>
                                </td>
                            </tr>
                            {%endfor%}
                            <tr>
                                <td>Total</td>
                                <td></td>
                                <td>{{sum_calories}} kCal</td>
                                <td>{{sum_carbs}} g</td>
                                <td>{{sum_fat}} g</td>
                                <td>{{sum_protein}} g</td>
                            </tr>

                        </table>
                        <!-- End Intake Table -->
                    </div>
                    <div class='col'>
                        <!-- Metrics Summary -->
                        <caption>Health Stats</caption>
                        <table class='table table-bordered table-striped'>

                            <tr>
                                <th>Metric</th>
                                <th>Current Data</th>
                                <th>Healthy Goal</th>
                            </tr>
                            <tr>
                                <td>Total Daily Energy Expenditure</td>
                                <td>{{user.statistics[0].tdee}} kCals</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Body Mass Index</td>
                                <td>{{user.statistics[0].bmi}} kg/m<sup>2</sup></td>
                                <td>24.9 kg/m<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <td>{{user.statistics[0].weight}} lbs.</td>
                                <td>{{user.statistics[0].ideal_weight}} lbs.</td>
                            </tr>
                            <tr>
                                <td>Weight Left to Lose</td>
                                <td>{{user.statistics[0].pounds_to_lose}} lbs.</td>
                                <td>-</td>
                            </tr>
                            <!-- <tr>
                                <td>Days to reach goal: 1200kCal/day</td>
                                <td>{{user.statistics[0].ideal_time_frame}} days</td>
                                <td>-</td>
                            </tr> -->
                        </table>
                        <!-- Metrics End -->
                    </div>
                </div>

            </div>
        </div>
        <!-- Metrics Form start -->
        <div class="col">
            <div class='container bg-secondary rounded p-3'>
                <div class="lead text-light">Update your health stats</div>
                <hr>
                <form id='TDEE-form' method="POST" action="/metrics">
                    {{metrics_form.hidden_tag()}}
                    {% for field in metrics_form
            if field.widget.input_type != 'hidden' %}
                    <p>
                        {{field.label(class_="text-light")}}
                        {{field(class_="form-control")}}
                    </p>
                    {%endfor%}
                    <button class='btn btn-warning btn-block' type='submit'>Update</button>
                </form>

            </div>
        </div>
        <!-- Metric Form End -->
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>

    let sumFat = {{ sum_fat }}
    let sumCarb = {{ sum_carbs }}
    let sumProtein = {{ sum_protein }}
    let myChart = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(myChart, {
        // The type of chart we want to create
        type: 'horizontalBar',

        // The data for our dataset
        data: {
            labels: ['Goal Carbs', 'Carbs', 'Goal Fats', 'Fats', 'Goal Protein', 'Protein'],
            datasets: [{
                label: 'Intake in Grams',
                data: [{{ user.statistics[0].tdee * 0.05 / 4 }}, sumCarb, {{ user.statistics[0].tdee * 0.60 / 9 }}, sumFat,{{ user.statistics[0].tdee * 0.35 / 4 }}, sumProtein],
    backgroundColor: ['#ea6153', '#ea6153', '#2980b9', '#2980b9', '#27ae60', '#27ae60']
        }]

    },

    // Configuration options go here
    options: { }
    });
</script>
{%endblock%}