{% extends 'base.html' %}
{%block title%}Food Searcb{%endblock%}

{% block content %}
<div class="form-container">
    <div class="left">



        <div class="form">
            <div class="header">
                <h2 class='animation a3'>Retrieve<br> Nutritional Data</h2>

            </div>
            <form method='POST'>
                {{form.hidden_tag()}}
                {% for field in form
                if field.widget.input_type != 'hidden' %}
                <p>
                    {{field.label}}
                    {{field(class_='form-field animation a5')}}

                    {% for error in field.errors %}
                    <span class="">{{error}}</span>
                    {%endfor%}
                </p>
                {%endfor%}
                <button class='submit-button animation a6' type='submit'>Search Food</button>
            </form>

        </div>


    </div>
    <div class="right-3">
    </div>

</div>
{%endblock%}