{%extends 'base.html'%}
{%block title%}Welcome to Nutrienty{%endblock%}
{%block content%}
<header class="showcase">
    <div class="content">
        <img src="https://i.ibb.co/P93YYLM/nutrientry-logo.png" class="logo" alt="Nutrientry">
        <div class="title">
            Welcome to NutriEntry
        </div>
        <div class="text">
            <p>Become the best version of you</p>
        </div>
        <div class="grid-2">
            <a href="/signup" class="button">Sign Up</a>
            <a href="/login" class="button">Log In</a>
        </div>

    </div>
</header>
<!-- Services -->
<section class="services">
    <div class="container center grid-3">
        <div><i class="fas fa-book fa-3x"></i>
            <h3>Calorie Tracking</h3>
            <p>Track your food intake and see exactly what is fueling your body</p>
        </div>
        <div>
            <i class="fas fa-weight fa-3x"></i>
            <h3>Weight Control</h3>
            <p>Learn different methods of weight loss and find what works best for you</p>
        </div>
        <div><i class="fas fa-clock fa-3x"></i>
            <h3>Fasting Timer</h3>
            <p>Track your time spent fasting and learn about the different processes that your body goes through as
                you fast</p>
        </div>


    </div>






</section>
<!-- About -->
<section class="about bg-light">
    <div class="container">
        <div class="grid-2">
            <div class="center">
                <i class="far fa-address-card fa-10x"></i>
            </div>
            <div>
                <h3>About Us</h3>
                <p>We are passionate about helping people become the best versions of themselves. Whether it is
                    through dieting, exercise, fasting or any of the other various methods of weight loss, we want
                    to support you by providing you with the latest evidence-based solutions for effective weight
                    loss. If you don't know where to start, you've come to the right place.</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}