{%extends 'base.html'%}
{%block title%}Learn about IF and Keto{%endblock%}
{%block content%}
<div class="grid-1-3">
    <div class="aside">
        <ol>
            <li><a href="#1-what-is-fasting-">What is fasting?</a></li>
            <li><a href="#2-fasting-and-diet">Fasting and Diet</a></li>
            <li><a href="#3-what-are-the-different-fasting-protocols-">What are different fasting protocols?</a>
            </li>
            <li><a href="#4-what-does-fasting-do-to-my-body-">What does fasting do to my body?</a></li>
            <li><a href="#5-how-to-get-started">How to get started</a></li>
            <li><a href="#6-is-it-normal-to-feel-___-what-to-expect-while-fasting-">What to expect while fasting</a>
            </li>
            <li><a href="#7-who-shouldn-t-fast-i-have-medical-condition-x-should-i-fast-">What is fasting?</a></li>
            <li><a href="#8-how-long-should-i-fast-">How long should I fast?</a></li>
            <li><a href="#9-fasting-and-eating-disorders">Fasting and eating disorders</a></li>
            <li><a href="#10-exercise-and-fasting">Exercise and fasting</a></li>
            <li><a href="#11-glossary">Glossary</a></li>
            <li><a href="#12-resources">Resources</a></li>
        </ol>
    </div>
    <div class="wrapper">


        <h1 id="fasting-in-a-nutshell"><a href="https://www.reddit.com/r/fasting/wiki/fasting_in_a_nutshell">Fasting in
                a
                nutshell</a></h1>

        <p><strong>IMPORTANT</strong></p>
        <p>Disclaimer: all material on this website is provided for your information only and may not be construed as
            medical
            advice or instruction. No action or inaction should be taken based solely on the contents of this
            information;
            instead, readers should consult appropriate health professionals on any matter relating to their health and
            well-being.</p>

        <hr>
        <h2 id="1-what-is-fasting-">1. What is fasting?</h2>
        <p>Let&#39;s get started with the simplest of definitions of fasting:</p>
        <blockquote>
            <p>&quot;Fasting is a willing abstinence or reduction from some or all food, drink, or both, for a period of
                time.&quot; - <a href="https://en.wikipedia.org/wiki/Fasting">Wikipedia</a></p>
            <p>&quot;Abstain from all or some kinds of food or drink, especially as a religious observance.&quot; - <a
                    href="https://en.oxforddictionaries.com/definition/fast">Oxford Dictionary</a></p>
        </blockquote>
        <p>So, fasting, in it&#39;s most broad definition is the voluntary withholding of food for any reason (health,
            spiritual
            or other) for a period of time, from a few hours to months.</p>
        <p>Technically speaking, fasting is the metabolic state of a person who has completed the digestion and
            absorption
            of a
            meal, which happens in as little as 3 to 5 hours after consumption.</p>
        <p>This is why (at least in english and spanish) the first meal of the day, after waking up, its called
            &quot;<em>break</em>/fast&quot; (or &quot;<em>des</em>/ayuno&quot; in spanish). So, maybe unknowingly,
            everyone
            is
            <em>fasting</em>.</p>
        <p>Fasting is nothing new. Ancient Greeks such as Hippocrates (considered father of modern medicine) prescribed
            fasting.
        </p>
        <p>Also virtually all major religions practise fasting, not as punishment, but as a way to purification and
            healing.
        </p>
        <p>Today, fasting has become the subject of study because of it&#39;s amazing effects on health, that range from
            weight
            loss to fighting cancer.</p>
        <hr>
        <h2 id="2-fasting-and-diet">2. Fasting and Diet</h2>
        <h3 id="2-1-fasting-is-when-we-eat-and-diet-is-what-we-eat">2.1. &quot;Fasting&quot; is &quot;when&quot; we eat
            and
            &quot;Diet&quot; is &quot;what&quot; we eat</h3>
        <p>Don&#39;t call &quot;fasting&quot; a diet. &quot;Diet is the sum of food consumed by a person or other
            organism&quot;
            <a href="https://en.wikipedia.org/wiki/Diet_(nutrition">Wikipedia</a>).</p>
        <p>However, the diet we follow, regardless of fasting or how long we fast, has a deep impact on our health, so
            it is
            also important to assess with care what are we eating and why.</p>
        <p>Fasting is not a &quot;miracle cure&quot; for our binges, eating disorders and/or complicated relationships
            with
            food. Fasting has a place, along with diet, to help us stay healthy and live a long, high-quality life.</p>
        <h3 id="2-2-fasting-and-keto">2.2. Fasting and Keto</h3>
        <p>A popular combo, because the Keto
            diet
            keeps the body burning fat for fuel.</p>
        <p>That&#39;s exactly what happens when we fast for longer than 24 hours; our glycogen stores deplete and our
            bodies
            start using fat to keep us alive. So, by keeping the body using fat (or more properly, <a
                href="https://en.wikipedia.org/wiki/Ketone_bodies">ketone bodies</a>) we can prolong many of the fasting
            effects
            while eating.</p>
        <p>Sure, it&#39;s not a perfect fit for everybody and it can be quite difficult to adapt to, but according to
            the
            science, it is worth it.</p>
        <h3 id="2-3-fasting-and-other-diets-">2.3. Fasting and other diets?</h3>
        <p>You can eat whatever you like, but fasting is neither an excuse to binge or an effective way to cancel a bad
            diet.
            When you eat, make it count! Eat healthy! (although that&#39;s another WIKI entirely!)</p>
        <p>You can fast once a month or week, you can fast everyday of your life. You can fast for a week every month
            and
            then
            do 18:6 for the rest of the month, yes, you can combine protocols as you see fit.</p>
        <p>Fasting is so versatile and flexible, it can be introduced to any kind of diet.</p>
        <p>Vegetarian? you can fast.</p>
        <p>Jewish? you can fast.</p>
        <p>Hindu? you can fast.</p>
        <p>Paleo? you can fast.</p>
        <p>Nut or gluten allergy? you can fast.</p>
        <p>Standard American Diet (SAD)? you can fast! (and you should consider changing your dietary habits, FYI)</p>
        <hr>
        <h2 id="3-what-are-the-different-fasting-protocols-">3. What are the different fasting protocols?</h2>
        <p>Fasting comes in many flavors. Some are expressed in the amount of hours of fast vs the feeding window, such
            as
            16:8
            (16 hours fasting, 8 hours to eat, 16 + 8 = 24).</p>
        <p>5:2 is 5 days eating normally and fasting for 2 days (5 + 2 = 7 days).</p>
        <p>There&#39;s no need to be super-precise when considering the moment you stopped eating and started eating
            again,
            there&#39;s no need to be too strict, don&#39;t be, try to enjoy yourself.</p>
        <p>Which one to choose? Depends on your courage and experience. If you have never fasted, try 16:8, which is
            equivalent
            of skipping breakfast.</p>
        <h3 id="3-1-11-to-12-hours">3.1. 11 to 12 hours</h3>
        <p>Maybe the most natural, simple fast. It&#39;s very easy to follow.</p>
        <p>You probably won&#39;t lose weight, but if you are otherwise in good health and in your desired weight,
            it&#39;s
            more
            likely that you&#39;ll stay there more easily.</p>
        <p>This the shortest time fasting that has show to have a positive effect. You had dinner at 7pm and your next
            meal
            is
            at 7am the next morning. That&#39;s all there is to it, you fast while you sleep.</p>
        <p>Eat whatever you like (for your sake, make it healthy!), just make sure that 12 hours have passed between
            your
            last
            and next meal.</p>
        <h3>3.2 16-8 18-6.</h3>
        <p>Probably the most popular intermittent fasting protocol. I&#39;d say it has a medium difficulty, but it&#39;s
            a
            good
            start to go more in deep.</p>
        <p>Very helpful for losing weight and staying in ketosis (if that&#39;s your thing). Other hormonal changes may
            kick
            in,
            although for a shorter period of time.</p>
        <p>It usually involves skipping breakfast, and eating lunch after 16, 18 hours from your supper. That is, you
            had
            supper
            at 7pm and eat your lunch at 1pm the next day.</p>
        <p>Have your water, coffee, tea, broth in the morning, we&#39;ll go into the details of those drinks further in
            the
            WIKI, but for now, non-caloric, unsweetened drinks are allowed as much as you like.</p>
        <p>When it&#39;s time to eat, enjoy your food! eat slowly and avoid over-eating. And, again, the advice is to
            make
            it
            count! eat healthy! Plan ahead so that you eat what you should eat, it could be to make your own food or to
            chose
            carefully where and what you will order if eating out.</p>
        <p>If you don&#39;t feel like skipping breakfast, then skip another meal, it doesn&#39;t really matter, just
            make
            sure
            that 18 hours have passed between your previous and next meal.</p>
        <p>When fasting, it can be hard to ignore the hunger. But, specially when starting, our circadian rhythm and out
            life-long conditioning of eating 3 (or more!) times a day can be difficult to overcome. That&#39;s why it is
            important to keep busy and drink water (or the other allowed drinks).</p>
        <p>The hunger will be there, but it will come and go, it will not get any worse in time than day one.
            There&#39;s
            nothing to be afraid of. </p>
        <h3>
            3.3. 23:1 / OMAD </h3>
        <p>Another popular intermittent fasting protocol, only a little bit harder than 16:8. The extended period of
            time
            allow
            to go deeper into the benefits of fasting, while eating at regular intervals.</p>
        <p>Otherwise known as &quot;One Meal A Day&quot; and the similar &quot;Warrior Diet&quot;, you eat all your
            day&#39;s
            worth of food in one sitting. You eat at 1pm and your next meal is at 1pm the next day.</p>
        <p>Make healthy choices and eat slowly, enjoy your food! Eat until satisfied, learn to listen to your body. This
            is
            what
            being mindful means.</p>
        <p>Same advice as before: keep busy, hunger will come and go, drink your water, plan your meal, and break the
            fast
            if
            you must, you can start again right after you stop eating.</p>
        <h3>3.4. ADF </h3>
        <p>&quot;Alternate Day Fast&quot;, it&#39;s simply eat as usual one day, fast the next day. Repeat.</p>
        <p>This is a good fast to try before an extended fast, because you&#39;ll experience more than 24 hours without
            eating.
        </p>
        <p>Read the advice from other fasting protocols, it&#39;s the same.</p>
        <h3>3.5. 5:2 </h3>
        <p>Five days eating normally, followed by 2 days eating a low calorie diet, 600 kcal per day for men or 500 kcal
            per
            day
            for women.</p>
        <h3 id="3-6-extended-fasting">3.6. Extended fasting</h3>
        <p>Any fast longer than 5 days is considered &quot;extended fasting&quot;.</p>
        <p>No one will suggest you start an extended fast if you haven&#39;t tried a shorter fast previously, really. It
            can
            be
            really hard (or not), frustrating and in more extreme cases a manifestation of an eating disorder.</p>
        <p>But, don&#39;t be scared. Extended fasts are great if you know what you are doing.</p>
        <p>When going into extended fasts, might experience headaches, cramps or dizziness. They usually means that you
            lack
            sodium, potassium and/or magnesium. You can find a multivitamin or supplements to get them.</p>
        <p>Also, bone broth is good source of minerals while on extended fasts.</p>
        <p><strong>It is really, really, REALLY important to be certain to the best of your (and doctor&#39;s) knowledge
                that
                you don&#39;t have any health issues before attempting an extended fast (including, diabetes and heart
                conditions).</strong></p>
        <h3 id="3-7-fat-fasting">3.7. Fat fasting</h3>
        <p>&quot;Fat fasting&quot; is, what the name implies, eating only fats. Good fats, of course.</p>
        <p>It&#39;s quite controversial, because when you eat anything (fat, protein or carbohydrates) your body starts
            to
            process the food, breaking the fast. Check out the &quot;What does fasting do to my body&quot; section to
            learn
            what
            happens when you don&#39;t eat food and therefore, what stops when you eat anything.</p>
        <p>That doesn&#39;t mean you don&#39;t benefit from it, you probably see some benefits, but not the ones that
            rely
            on a
            true, no-food fast.</p>
        <h3 id="3-8-juice-fasting">3.8. Juice fasting</h3>
        <p>Very, very controversial, mostly for the same reason of a &quot;fat fast&quot;. When you drink juice, you
            drink
            calories and the body goes to work, breaking the fast, plain and simple.</p>
        <p>As with the fat fast, this doesn&#39;t mean you can see results with this kind of fast, but you won&#39;t get
            the
            benefits of a true, no-food fast.</p>
        <hr>
        <h2 id="4-what-does-fasting-do-to-my-body-">4. What does fasting do to my body?</h2>
        <h3 id="4-1-weight-loss">4.1. Weight loss</h3>
        <p>First, most noticeable and measurable effect is weight loss. And, why wouldn&#39;t you lose weight, if you
            are
            not
            eating, right?</p>
        <p>But let&#39;s understand <em>why</em> we lose weight when fasting. It doesn&#39;t have to do with calories,
            but
            <em>insulin</em>. When we eat, our pancreas secretes insulin which move the glucose from digestion into the
            bloodstream to be used as fuel and the excess to be stored in the liver as glycogen. When the liver is full,
            excess
            is stored as body fat.</p>
        <p>Fat, on the other hand, doesn&#39;t get stored in the liver, it goes right into the bloodstream, delivering
            nutrients
            to our cells. Excess fat gets stored as body fat. This is why low-fat diets were recommended, but the truth
            is a
            bit
            more complicated.</p>
        <p>The body prefers to use glycogen, therefore body fat is preserved. When we lower insulin by not eating, we
            are
            forcing our bodies to use fat as fuel when our glycogen stores are used.</p>
        <p>So, our weight loss by fasting is represented by 1) water for the first one, two days and 2) fat burned,
            <strong>not
                muscle</strong>, mind you.</p>
        <p>A good combination of mild calorie restriction and fasting can make weight loss fast and effective.</p>
        <h3 id="4-2-reduced-insulin-resistance">4.2. Reduced insulin resistance</h3>
        <p>One of the functions of insulin is to move glucose from the bloodstream into our cells to be used as fuel.
        </p>
        <p>Being &quot;insulin insensitive&quot; means that our cells require more insulin to to force the glucose into
            our
            cells, which in turn block the use of fats as fuel. Then glucose continue to be stored as body fat. It&#39;s
            a
            vicious circle.</p>
        <p>So, when we fast, our pancreas stops delivering insulin into the bloodstream, making us deplete the glycogen
            stores
            and finally use our fat reserves as fuel.</p>
        <p>It&#39;s been measured that as little as 11 or 12 hours are enough to fight insulin resistance.</p>
        <h3 id="4-3-muscles">4.3. Muscles</h3>
        <p><strong>Will I lose muscle if I fast?</strong> is a very common question and a valid concern.</p>
        <p>But the answer is <strong>no, you won&#39;t</strong>.</p>
        <p>Fasting won&#39;t make you lose muscle, <em>not exercising</em> will make you lose muscle.</p>
        <p>If this were true we wouldn&#39;t have survived as a species. Our ancestors didn&#39;t have food as available
            as
            we
            do. As they learned to hunt, gather and grow food, there were long periods of food deprivation, if muscle
            were
            used
            for fuel we would have gone extinct thousands of years ago.</p>
        <p>For muscles to be used as fuel, our body fat would have to be extremely low, like, 4%.
            For comparison, elite marathon runners carry approximately 8% body fat.</p>
        <p>So, not only we don&#39;t lose muscle while fasting, but it becomes easier to grow muscle while fasting.
            Studies
            show
            that there is an increase in <em>adrenaline</em> and <em>growth hormone</em>, both which not only prevent
            lose
            of
            muscle, but help <em>build</em> muscle when exercising in a fasted state.</p>
        <h3 id="4-4-heart-health">4.4. Heart health</h3>
        <p>Another important health benefit, is lower cholesterol levels. It has to be the lack of food, right? Well,
            not
            exactly.</p>
        <p>It&#39;s now increasingly recognized that lowering dietary cholesterol doesn&#39;t have a direct impact in
            the
            level
            of blood cholesterol.</p>
        <p>Cholesterol is made by our livers and when we fast, the liver decreases the production of triglycerides,
            improving
            out heart health.</p>
        <h3 id="4-5-autophagy-other-cell-regeneration-goodies">4.5. Autophagy / other cell regeneration goodies</h3>
        <p>This is one of the coolest benefits of fasting (if you ask me).
            Our bodies are in a state of constant renewal. Cells are born to replace old, dying cells.</p>
        <p>When we fast, our insulin levels decrease, that&#39;s clear by now, right? When our bodies sense that insulin
            is
            low,
            autophagy is turned on. Think of autophagy as a &quot;garbage collection service&quot;, if you will. The
            body
            prioritizes the preservation of cells, making it discard the oldest, most worn out cells.</p>
        <p>Autophagy (in addition to growth hormone) might play an important role in preventing or even treating some
            kinds
            of
            cancer and even Alzheimer&#39;s disease.</p>
        <p>However, autophagy is delicate. If the body senses that there is enough energy (insulin, glucose or protein),
            it
            is
            turned off. That&#39;s why it is recommended to stick to water (even distilled) for 3 to 5 days to make sure
            autophagy is achieved. We can&#39;t measure it yet, maybe someday in the future we can have a device that
            can
            tell
            us for sure.</p>
        <h3 id="4-6-tl-dr">4.6. Too Long; Didn't Read</h3>
        <ul>
            <li>
                <p>Improves mental clarity and concentration (increased adrenaline)</p>
            </li>
            <li>
                <p>Induces weight and body fat loss (decreased insulin)</p>
            </li>
            <li>
                <p>Lowers blood cholesterol (decreased liver production of triglycerides)</p>
            </li>
            <li>
                <p>Prevents Alzheimer’s disease and some kinds of cancer (autophagy and growth hormone)</p>
            </li>
        </ul>
        <h3 id="4-7-diabetes-type-2">4.7. Diabetes type 2</h3>
        <p>Fasting can help reduce or even eliminate Diabetes type 2.</p>
        <p><strong>VERY IMPORTANT</strong></p>
        <p>Diabetes type 2 is a serious, dangerous condition. If you are diagnosed as a Diabetic type 2 and are on
            mediation, it
            is <strong>absolutely important</strong> that you talk to your doctor to adjust your medication and monitor
            your
            insulin levels carefully.</p>
        <p><strong>Please, don&#39;t go into fasting without medical supervision if you are Diabetic type 2 or type
                1.</strong>
        </p>
        <hr>
        <h2 id="5-how-to-get-started">5. How to get started</h2>
        <ul>
            <li>
                <p>Stop eating</p>
            </li>
            <li>
                <p>Drink water</p>
            </li>
            <li>
                <p>Eat after 12 or more hours (days, whatever you can handle)</p>
            </li>
            <li>
                <p>Repeat</p>
            </li>
        </ul>
        <p>That&#39;s all there is to it, basically. You might need electrolytes and you might feel sick if you
            transition
            from
            using glycogen to fat, but it shouldn&#39;t be more than a discomfort, <strong>you should&#39;t feel sick
                while
                fasting</strong>.</p>
        <h3 id="5-1-what-is-allowed">5.1. What is allowed</h3>
        <p><strong>If you want to achieve the very best benefits of fasting, you should stick to only water.</strong>
        </p>
        <p>Whatever your reasons for fasting, you can also drink:</p>
        <ul>
            <li>
                <p><strong>water</strong>, can be infused for flavor (meaning adding slices of lemon, orange, berries or
                    cucumber, but not eaten or squeezed into the water), just don&#39;t add artificial flavors or
                    sweeteners.
                    Adding some apple cider vinegar is also a popular choice.</p>
            </li>
            <li>
                <p><strong>tea</strong>, all kinds, and herbal infusions as well.</p>
            </li>
            <li>
                <p><strong>coffee</strong>, caffeine is known to be a good appetite suppressant, but decaffeinated is
                    good
                    too.
                    Black, no sweeteners is preferred, but adding a splash of whole, heavy cream, MTC or coconut oil
                    (just 1
                    or
                    2 teaspoons!) is allowed.</p>
            </li>
            <li>
                <p><strong>bone broth</strong> or <strong>vegetable broth</strong>, same as adding cream or oil to your
                    coffee,
                    it should be taken lightly and not too frequent, so not to negate the benefits of the fast. Try to
                    avoid
                    canned or bouillon cubes, they may contain artificial flavors and other ingredients that could
                    affect
                    the
                    fast negatively.</p>
            </li>
            <li>
                <p><strong>diet drinks</strong>, including sodas... controversial, to say the least. I know a lot of
                    people,
                    myself included, that will skip them entirely and we would suggest that you ditch them too, but if
                    you
                    absolutely must, then go ahead. Just don&#39;t abuse them (one a day) and monitor your progress. If
                    you
                    feel
                    bad or crave more food or sweets or don&#39;t see weight loss, then cut them too.</p>
            </li>
        </ul>
        <h3 id="5-2-will-eating-drinking-x-break-my-fast-">5.2. Will eating/drinking X break my fast?</h3>
        <p>If it has calories, protein, carbs or fats in any measurable amount, it will break your fast. However, that
            doesn&#39;t mean that you won&#39;t see benefits of fasting, even with very small amount of calories in your
            drinks
            (a cup of coffee might have up to 5 calories, and so does adding oils or cream to your coffee or drinking
            broth).
        </p>
        <p>Again, don&#39;t abuse, monitor your progress, adjust and adapt. Learn and make it worth it!</p>
        <h3 id="5-2-tips-and-tricks">5.2. Tips and tricks</h3>
        <p>Fasting for an extended period of time (3 days or more) quickly becomes more of a mind game: you vs the
            <em>need</em>
            for food. Here are some tips to help cope:</p>
        <h4 id="-keep-busy-"><strong>Keep busy</strong></h4>
        <p>When you stop eating, both your circadian rhythm and your life-long conditioning to eat a certain time say:
            &quot;hey, it&#39;s 1pm (or whatever your usual lunch time is), let&#39;s eat! what are we having?&quot;.
        </p>
        <p>So keep busy. Do whatever you need to focus on something that will keep you mind off of food.</p>
        <ul>
            <li>
                <p>Work, sound awful, but if you can&#39;t or won&#39;t leave your office, then keep doing what your are
                    doing.
                </p>
            </li>
            <li>
                <p>Do some house/office keeping: rearrange that drawer, clean up your kitchen (if you haven&#39;t been
                    cooking,
                    there&#39;s probably not a lot to clean up), your room, the garage... you get the idea</p>
            </li>
            <li>
                <p>Do some puzzles, like sudoku, crossword puzzles, jigsaw puzzles, etc.</p>
            </li>
            <li>
                <p>Read, listen to podcasts, watch TV</p>
            </li>
            <li>
                <p>Go for a walk, go to the gym, run an errand, take a nap, play with your dog/cat/pet</p>
            </li>
            <li>
                <p>Meditate, do some yoga</p>
            </li>
        </ul>
        <h4 id="-remember-you-will-feel-hungry-"><strong>Remember: you will feel hungry</strong></h4>
        <p>This is something that simply cannot be avoided; not entirely, not always. But:</p>
        <ul>
            <li>
                <p>You will not feel <em>hungrier</em>, eventually, you will notice that hunger does not increase beyond
                    a
                    certain point, that is, you will not feel hungrier on day 1 than on day 5, or 10</p>
            </li>
            <li>
                <p>Hunger comes and goes, learn to ride the waves.</p>
            </li>
            <li>
                <p>your state of mind <em>will</em> change, sometimes you will fell sharp as a razor, sometimes dull and
                    lack of
                    energy. If you&#39;re feeling <em>terrible</em>, end your fast, no shame in that, but if you feel
                    <em>uncomfortable</em> and feel like you can ride it, then <em>keep going!</em></p>
            </li>
        </ul>
        <h4 id="-it-s-always-ok-to-end-the-fast-"><strong>It&#39;s always ok to end the fast</strong></h4>
        <p>You can always get started again once you stop eating. Don&#39;t be too hard on yourself.</p>
        <p>You&#39;ll experience some discomfort, but you shouldn&#39;t feel sick.</p>
        <p>You wouldn&#39;t expect to walk into a gym and lift 500 lb just like that, would you? Same with extended
            fasts,
            and
            that&#39;s a good thing, you can build into it. Fast one more day than the last time.</p>
        <h4 id="-some-don-ts-if-you-can-afford-them-"><strong>Some don&#39;ts, if you can afford them</strong></h4>
        <ul>
            <li>
                <p>Don&#39;t watch cooking shows</p>
            </li>
            <li>
                <p>Don&#39;t browse food subreddits!</p>
            </li>
            <li>
                <p>Stay away from the farmer&#39;s market, don&#39;t shop for food</p>
            </li>
        </ul>
        <hr>
        <h2 id="6-is-it-normal-to-feel-___-what-to-expect-while-fasting-">6. Is it normal to feel ___? / What to expect
            while
            fasting?</h2>
        <h3 id="6-1-headaches-cramps-dizziness">6.1. Headaches, cramps, dizziness</h3>
        <p>When we are fasting, having only water might make us slightly dehydrated and, without the minerals in our
            food,
            we
            might experience the lack of electrolytes, such as sodium, potassium and/or magnesium. In such case, a
            multivitamin
            or supplement will help reduce these symptoms.</p>
        <h3 id="6-2-lack-of-energy">6.2. Lack of energy</h3>
        <p>It can happen during day 2, 3 or 4, depending on your glycogen stores. This is usually the point where the
            body
            starts to adapt to use fat as fuel, instead of glycogen. Once the body adapts to fat, the energy comes back
            and
            the
            fogginess goes away.</p>
        <p>It may come back a few days later (6th day or after). Make sure you are supplementing your electrolytes
            and/or
            have a
            bowl of bone broth, drink it slowly.</p>
        <h3 id="6-3-nausea">6.3. Nausea</h3>
        <p>You probably need to stop your fast. Ease into eating, slowly and small portions. Then try again. Don&#39;t
            be
            discouraged! While some people might find it easy as pie, some might find fasting more challenging,
            especially
            extended fasts. Try shorter fasts for several days before going into an extended fast.</p>
        <hr>
        <h2 id="7-who-shouldn-t-fast-i-have-medical-condition-x-should-i-fast-">7. Who shouldn&#39;t fast? / I have
            medical
            condition X, should I fast?</h2>
        <h3 id="7-1-children-under-18">7.1. Children under 18</h3>
        <p>Isn&#39;t it obvious? children under 18 are still developing, and even with obesity, fasting more than 24
            hours
            is
            not advised. At this stage is more important to make proper, healthy choices of nutritious, unprocessed
            natural
            foods.</p>
        <h3 id="7-2-pregnant-women">7.2. Pregnant women</h3>
        <h3 id="7-3-breastfeeding-women">7.3. Breastfeeding women</h3>
        <p>The health of both the mother and baby are at stake here. <strong>Don&#39;t fast. Period.</strong></p>
        <h3 id="7-4-you-should-see-a-doctor-before-fasting-if-you-">7.4. You should see a doctor before fasting if you:
        </h3>
        <ul>
            <li>Are severely malnourished or underweight</li>
            <li>Have gout</li>
            <li>Have type 1 or type 2 diabetes</li>
            <li>Have gastroesophageal reflux disease</li>
            <li>Are taking medication</li>
        </ul>
        <hr>
        <h2 id="8-how-long-should-i-fast-">8. How long should I fast?</h2>
        <p>If you haven&#39;t fasted before, if you have never skipped breakfast or dinner, start working your way up.
            Try
            each
            protocol for a week or a few days, see how you feel and take it to the next level.</p>
        <ul>
            <li>12 hour fast</li>
            <li>16, 18, 20 hour fast</li>
            <li>24 hour fast</li>
            <li>36 hour fast</li>
            <li>ADF</li>
            <li>42 hour fast</li>
            <li>5:2</li>
            <li>7 to 14 days</li>
            <li>Over 14 days</li>
        </ul>
        <h3 id="8-1-should-i-use-supplements-">8.1. Should I use supplements?</h3>
        <p>For short fasts (less than 4 days and all IF protocols) don&#39;t require supplements of any kind.</p>
        <p>For longer fasts (a week or more) it depends. If you have any medical condition or you want to play it safe,
            you
            should talk to your doctor. If your doctor looks at you like you are crazy, find another doctor.</p>
        <h3 id="8-2-holy-triad-sodium-potassium-and-magnesium-and-or-multivitamins">8.2. Holy triad: sodium, potassium
            and
            magnesium and/or Multivitamins</h3>
        <p>Again, we have talked about how these minerals are an important part to successfully fast.</p>
        <h3 id="8-3-how-should-i-break-my-fast-">8.3. How should I break my fast?</h3>
        <ul>
            <li>For short fasts</li>
        </ul>
        <p>A short fast is less than 4 days. Eat as you normally would, pretend nothing happened. Just make it count!
            Eat
            something healthy!</p>
        <ul>
            <li>For extended fasts</li>
        </ul>
        <p>You should experiment. You need to find out what works for you.</p>
        <p>You could eat as you usually do, see what happens.</p>
        <p>Don&#39;t like what happened? Adjust.</p>
        <p>Some people report distress when breaking fast with eggs. Did you had eggs? avoid them next time.</p>
        <p>If you want to go gently, that&#39;s ok. Try some fatty foods in small quantities, like macadamia nuts. You
            could
            try
            a small salad with cottage cheese. Have some raw vegetables with olive oil and vinegar. Some people suggest
            watermelon.</p>
        <p>Chew thoroughly, take your time and enjoy. Let your stomach work for a few hours before eating normally.</p>
        <hr>
        <h2 id="9-fasting-and-eating-disorders">9. Fasting and eating disorders</h2>
        <h3 id="9-1-what-is-the-difference">9.1. What is the difference</h3>
        <p>Fasting is the <em>voluntary</em> absence of food for a period of time while having a healthy, regular diet
            when
            you
            eat.</p>
        <p>Eating disorders have a psychological component, a complicated relationship with food and self-image.</p>
        <p>While fasting is self-imposed and disciplined action, an eating disorder is extreme and emotionally charged.
        </p>
        <h3 id="9-2-will-fasting-give-me-an-eating-disorder-">9.2. Will fasting give me an eating disorder?</h3>
        <p>It&#39;s like saying that washing your hands will make you OCD. No, it doesn&#39;t.</p>
        <p>However if you find yourself bingeing on food and then &quot;fasting&quot; to make up for the excess
            constantly,
            then
            you should probably see a therapist.</p>
        <hr>
        <h2 id="10-exercise-and-fasting">10. Exercise and fasting</h2>
        <ul>
            <li>Will I lose muscle?</li>
            <li>Will I feel bad, pass out or die if I workout fasted?</li>
            <li>Glycogen, ketones and you</li>
            <li>Why you can/should workout while fasted</li>
        </ul>
        <hr>
        <h2 id="11-glossary">11. Glossary</h2>
        <ul>
            <li>Fast</li>
            <li>IF (Intermittent fasting)</li>
            <li>Insulin resistance</li>
            <li>Glycogen</li>
            <li>Ketones</li>
            <li>Autophagy</li>
            <li>Electrolytes</li>
        </ul>
        <hr>
        <h2 id="12-resources">12. Resources</h2>
        <h3 id="12-1-videos">12.1. Videos</h3>
        <p>What&#39;s wrong with what we eat -
            <a
                href="https://www.ted.com/talks/mark_bittman_on_what_s_wrong_with_what_we_eat">https://www.ted.com/talks/mark_bittman_on_what_s_wrong_with_what_we_eat</a>
        </p>
        <p>Why fasting bolsters brain power: Mark Mattson at TEDxJohnsHopkinsUniversity <a
                href="https://youtu.be/4UkZAwKoCP8">https://youtu.be/4UkZAwKoCP8</a></p>
        <p>The Mystery of Fast-5 and D.I.E.T.: Bert Herring, MD at TEDxRiversideAvondale <a
                href="https://youtu.be/xHQbg4xH9lw">https://youtu.be/xHQbg4xH9lw</a></p>
        <p>Ray Cronise on Cold Thermogenesis, Intermittent Fasting, Weight Loss &amp; Healthspa - <a
                href="https://youtu.be/uNzZod_d18A">https://youtu.be/uNzZod_d18A</a></p>
        <p>Dr. Guido Kroemer on Autophagy, Caloric Restriction Mimetics, Fasting &amp; Protein Acetylation - <a
                href="https://youtu.be/Gm626MgpveI">https://youtu.be/Gm626MgpveI</a></p>
        <h3 id="12-2-books-links">12.2. Books/Links</h3>
        <p>&quot;The Complete Guide to Fasting: Heal Your Body Through Intermittent, Alternate-Day, and Extended&quot;
            By Fung, Jason; Moore, Jimmy</p>
        <p><a href="https://intensivedietarymanagement.com/fasting-a-history-part-i/">Intensive Dietary Mangement (Dr.
                Fung&#39;s blog)</a></p>
        <p><a href="https://www.foundmyfitness.com/">https://www.foundmyfitness.com/</a></p>
        <p><a href="http://www.fastingtalk.com/">http://www.fastingtalk.com/</a></p>
        <p><a href="https://www.dietdoctor.com/intermittent-fasting">https://www.dietdoctor.com/intermittent-fasting</a>
        </p>
        <p>Autophagy: process and function -
            <a
                href="http://genesdev.cshlp.org/content/21/22/2861.full">http://genesdev.cshlp.org/content/21/22/2861.full</a>
        </p>
        <p>Methods in Mammalian Autophagy Research - <a
                href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2852113/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2852113/</a>
        </p>
        <p>With fasting, enzyme turns off body’s production of fats, cholesterol - <a
                href="http://news.harvard.edu/gazette/story/2010/06/with-fasting-enzyme-turns-off-bodys-production-of-fats-cholesterol/">http://news.harvard.edu/gazette/story/2010/06/with-fasting-enzyme-turns-off-bodys-production-of-fats-cholesterol/</a>
        </p>
        <p>Running on Empty - <a
                href="http://www.the-scientist.com/?articles.view/articleNo/49462/title/Running-on-Empty/">http://www.the-scientist.com/?articles.view/articleNo/49462/title/Running-on-Empty/</a>
        </p>
        <p>Transcript: Dr Rhonda Patrick on Exploring Smart Drugs, Fasting, and Fat Loss - <a
                href="http://tim.blog/2017/05/25/transcript-dr-rhonda-patrick-on-exploring-smart-drugs-fasting-and-fat-loss/">http://tim.blog/2017/05/25/transcript-dr-rhonda-patrick-on-exploring-smart-drugs-fasting-and-fat-loss/</a>
        </p>
        <p>Fasting triggers stem cell regeneration of damaged, old immune system - <a
                href="https://news.usc.edu/63669/fasting-triggers-stem-cell-regeneration-of-damaged-old-immune-system/">https://news.usc.edu/63669/fasting-triggers-stem-cell-regeneration-of-damaged-old-immune-system/</a>
        </p>
        <p>A 12-week randomized clinical trial investigating the potential for sucralose to affect glucose homeostasis -
            <a
                href="http://www.sciencedirect.com/science/article/pii/S0273230017301265">http://www.sciencedirect.com/science/article/pii/S0273230017301265</a>
        </p>
        <p>The secret to a long and healthy life? Eat less <a
                href="http://www.bbc.com/future/story/20170601-the-secret-to-a-long-and-healthy-life-eat-less">http://www.bbc.com/future/story/20170601-the-secret-to-a-long-and-healthy-life-eat-less</a>
        </p>
        <p>Resveratrol induces autophagy by directly inhibiting mTOR through ATP competition - <a
                href="https://www.nature.com/articles/srep21772">https://www.nature.com/articles/srep21772</a></p>
    </div>
</div>
{%endblock%}