{% extends 'base.html' %}
{%block title%}Energy Calculation{%endblock%}
{%block style%}
<link rel="stylesheet" href="/static/bootstrap.css">
{%endblock%}
{% block content %}
<div class='container rounded bg-secondary p-3 mt-5'>


    <h1 class="display-4 text-dark">Calculate your current level of health</h1>
    <p class="lead"></p>


    <form id='TDEE-form' method="POST" action="/metrics">
        {{form.hidden_tag()}}
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label(class_="text-light")}}
            {{field(class_="form-control")}}

            <!-- {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {%endfor%} -->
        </p>
        {%endfor%}
        <button class='btn btn-block btn-warning' type='submit'>Calculate</button>
    </form>
</div>


{%endblock%}